.row
	.col-md-12
		h2 Team {{team.name}}
			a.btn.btn-default.pull-right(href="manage/session/{{sessionId}}") Back To Session
.row
	.col-md-3
		h4 Players
		a.label.label-info.pull-right(bs-popover data-placement="bottom" data-template="team/playerkey-popover.tpl.html")
			i.fa.fa-key
		script(id="team/playerkey-popover.tpl.html" type="text/ng-template")
			.popover.bottom(style="width: 231px;")
				.arrow
				h3.popover-title Player Key
				.popover-content
					ul.list-group
						li.list-group-item.alert-success Player <b>Available</b>
						li.list-group-item.alert-warning Player on <b>Other</b> team
						li.list-group-item.alert-danger Player had <b>Error</b> updating
						li.list-group-item.alert-info Player is being <b>Updated</b>
		.btn-group
			btn.btn.btn-default(ng-click="sortOrder = 0" ng-class="{active: sortOrder == 0}") Name
			btn.btn.btn-default(ng-click="sortOrder = 1" ng-class="{active: sortOrder == 1}") Score
		.list-group
			a.list-group-item(ng-repeat="pid in availablePlayersList | orderBy: getSortOrder:sortOrder == 1" ng-click="attachPlayer(pid)" class="alert-success" ng-class="{'alert-warning': onOtherTeam(pid), 'alert-info': data.players[pid].updating, 'alert-danger': data.players[pid].updatingerror && data.players[pid].updatingerror != ''}")
				!= helpers.outputPlayer('pid', undefined, false, true)
	.col-md-4
		h4 Currently Assigned Players
		.list-group
			.list-group-item(ng-repeat="pid in attachedPlayers | orderBy: getSortOrder2")
				!= helpers.outputPlayer('pid', 'teamId', false, true)
				.btn-group.pull-right(ng-hide="data.players[pid].updating || (data.players[pid].updatingerror && data.players[pid].updatingerror != '')")
					a.btn.btn-xs.btn-default(ng-click="unattachPlayer(pid)" tooltip="Remove From Team")
						i.fa.fa-toggle-left
					a.btn.btn-xs.btn-default(ng-click="toggleLeader(pid)" Tooltip="Assign to Active Team")
						i.fa.fa-star(ng-class="{'text-danger': pid == team.leader}")
	.col-md-5
		h4 Stats {{team.leader}}
		table.table.table-bordered
			tr.info
				th Team Wins
				td {{team.win}}
			tr.danger
				th Team Losses
				td {{team.loss}}
		table.table.table-bordered
			tr
				th(rowspan="2") Player
				th(colspan="2") Games With
				th(colspan="2") Against
			tr
				th.info Wins
				th.danger Losses
				th.info Wins
				th.danger Losses
			tr(ng-repeat="pid in statsOrder | orderBy: playerNameByRef" ng-class="{success: attachedPlayers.indexOf(pid) != -1}")
				td
					!= helpers.outputLeaderStar('pid', 'teamId')
					| {{data.players[pid].name}}
				td.text-center(ng-class="{info: attachedPlayers.indexOf(pid) == -1, 'text-info': attachedPlayers.indexOf(pid) != -1}")
					| {{session.playerTeamMatrix[pid][teamId].with.win}}
				td.text-center(ng-class="{danger: attachedPlayers.indexOf(pid) == -1, 'text-danger': attachedPlayers.indexOf(pid) != -1}")
					| {{session.playerTeamMatrix[pid][teamId].with.loss}}
				td.text-center(ng-class="{info: attachedPlayers.indexOf(pid) == -1, 'text-info': attachedPlayers.indexOf(pid) != -1}")
					| {{session.playerTeamMatrix[pid][teamId].against.win}}
				td.text-center(ng-class="{danger: attachedPlayers.indexOf(pid) == -1, 'text-danger': attachedPlayers.indexOf(pid) != -1}")
					| {{session.playerTeamMatrix[pid][teamId].against.loss}}