doctype html
html
	head
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= title
		script(src="/socket.io/socket.io.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js")
		!= js('angular-strap.js')
		!= js('angular-strap.tpl.js')
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
		link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
		!= css('angular-motion.min.css')
		script(type="text/javascript").
			angular.extendDeep = function extendDeep(dst) {
				angular.forEach(arguments, function(obj) {
					if (obj !== dst) {
						angular.forEach(obj, function(value, key) {
							if (dst[key] && dst[key].constructor && dst[key].constructor === Object) {
								extendDeep(dst[key], value);
							} else {
								dst[key] = value;
							}     
						});   
					}
				});
				return dst;
			};
		script(id="dropdown/dropdown.tpl.html" type="text/ng-template")
			ul.dropdown-menu(tabindex="-1" role="menu")
				li(role="presentation" ng-class="{divider: item.divider}" class="{{item.class}}" ng-repeat="item in content")
					a(role="menuitem" tabindex="-1" ng-href="{{item.href}}" ng-if="!item.divider && item.href" ng-bind="item.text")
					a(role="menuitem" tabindex="-1" href="javascript:void(0)" ng-if="!item.divider && item.click" ng-click="$eval(item.click);$hide()" ng-bind="item.text")
					a(tabindex="-1" ng-if="!item.divider && !item.click && !item.click && item.text" ng-bind="item.text")
		block head
			base(href="/")
	body
		block content