.view-animate-container
	margin-top: 55px

.capitalise
	text-transform: capitalize

.centre
	position: absolute
	left: 50%
	top: 50%
	translate(-50%, -50%)

.width-hide
	transition(width 1s ease-in-out)
	width: 0%
	overflow: hidden
	
	&.show
		width: auto

.panel .panel-heading .btn.btn-sm
	margin-top: -6px

.well.well-group
	padding: 0
	margin-right: 6px
	height: 54px
	> .well-sm
		border-radius: 0
		height: 100%
		float: left
	> .vs
		line-height: 34px

.modal-body .well-group .team
	width: 238px

.modal-backdrop.am-fade
	opacity: .5
	transition: opacity .15s linear
	&.ng-enter
		opacity: 0
		&.ng-enter-active
			opacity: .5
	&.ng-leave
		opacity: .5
		&.ng-leave-active
			opacity: 0

ul.dropdown-menu li.disabled.nav-header > a
	cursor: default
	font-size: 12px
	font-weight: bold
	text-transform: uppercase

.row > .col-md-1.vs-bracket
	margin-left: -35px
	margin-right: -21px
	width: 43px
	z-index: 100
	
	button
		opacity: 1
		position: absolute
	button#reset
		top: 9px
		margin-left: 10px
	button#vs
		top: 67px
.col-md-6.panel
	padding: 0

.text-yellow
	color: #ffa500

.row.event-pairing dl.dl-horizontal
	position: absolute
	top: 10px
	bottom: 10px
	left: 15px
	right: 15px

.dropdown-menu#players>li>a
	padding-left: 24px
.dropdown-menu>li>a
	i.fa:not(.fa-star)
		position: absolute
		right: 6px
		margin-top: 3px
	.leader-star-wrap
		position: absolute
		left: 6px
	&.dropdown-primary
		color: #fff
		background-color: #428bca
		border-color: #357ebd
	&.dropdown-primary:hover,
	&.dropdown-primary:focus,
	&.dropdown-primary:active,
	&.dropdown-primary.active
		color: #fff
		background-color: #3276b1
		border-color: #285e8e
	
	&.dropdown-success
		color: #fff
		background-color: #5cb85c
		border-color: #4cae4c
	&.dropdown-success:hover,
	&.dropdown-success:focus,
	&.dropdown-success:active,
	&.dropdown-success.active
		color: #fff
		background-color: #47a447
		border-color: #398439
	
	&.dropdown-info
		color: #fff
		background-color: #5bc0de
		border-color: #46b8da
	&.dropdown-info:hover,
	&.dropdown-info:focus,
	&.dropdown-info:active,
	&.dropdown-info.active
		color: #fff
		background-color: #39b3d7
		border-color: #269abc
	
	&.dropdown-warning
		color: #fff
		background-color: #f0ad4e
		border-color: #eea236
	
	&.dropdown-warning:hover,
	&.dropdown-warning:focus,
	&.dropdown-warning:active,
	&.dropdown-warning.active
		color: #fff
		background-color: #ed9c28
		border-color: #d58512
	
	&.dropdown-danger
		color: #fff
		background-color: #d9534f
		border-color: #d43f3a
	&.dropdown-danger:hover,
	&.dropdown-danger:focus,
	&.dropdown-danger:active,
	&.dropdown-danger.active
		color: #fff
		background-color: #d2322d
		border-color: #ac2925

.list-group-item
	&.alert-success
		background-color: #dff0d8
		border-color: #d6e9c6
		color: #3c763d
	&.alert-info
		background-color: #d9edf7
		border-color: #bce8f1
		color: #31708f
	&.alert-warning
		background-color: #fcf8e3
		border-color: #faebcc
		color: #8a6d3b
	&.alert-danger
		background-color: #f2dede
		border-color: #ebccd1
		color: #a94442
	
	&.player-report
		height: 200px
		
		h5
			max-width: 114px !important
			text-overflow: ellipsis
			overflow: hidden
			padding: 0.2em 4px 0.3em
.ellipsis-text
	text-overflow: ellipsis
	overflow: hidden
span.player-label
	margin: 0 3px

.session-history
	.panel
		.panel-body
			height: 90px
		&.team-1
			.panel-body
				padding-right: 28px
		&.team-2
			.panel-body
				padding-left: 28px

.badge.label-danger
	background-color: #d9534f
.badge.label-info
	background-color: #5bc0de

span.leader-star-wrap
	width: 19px
	display: inline-block