.capitalise
	text-transform: capitalize

.centre
	position: absolute
	left: 50%
	top: 50%
	translate(-50%, -50%)

.width-hide
	transition(width 1s ease-in-out)
	width: 0%
	overflow: hidden
	
	&.show
		width: auto