[reorder-handle]
	z-index: 10
	position: relative
	
.dragging[reorder-handle]
	z-index: 11

.active-drag-below
	-moz-user-select: none
	-khtml-user-select: none
	-webkit-user-select: none
	user-select: none